// 暂时没用，导入有问题
baseColor = #d33a31

wh(w)
  width: w
  height: w

ava(w)
  width w
  height: w
  img
    width: 100%
    height: 100%

dfcc()
  display: flex
  justify-content: center
  align-items: center

overhide(n) 
  overflow: hidden
  text-overflow: ellipsis
  display: -webkit-box
  -webkit-line-clamp: n
  -webkit-box-orient: vertical